@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

body {
	font-family: quicksand;  
	margin: 10px;
}

#main-nav {
	background-color: #eeeeee;
	text-align: center;
	width: 100%;
	position: fixed;
	top: 0;
	box-sizing: border-box;
	height: 100px;
}

nav a {
	color: white;
	text-decoration: none;
	margin: 0px 0px;
	padding-top: 30px;
	transition: 0.3s;
}

#main-nav.sticky {
	position: fixed;
	top: 0;
}

nav a.active {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #1e1e1e;
}

nav a:hover {
	text-decoration: underline;
	opacity: 0.6;
}

section {
  min-height: 100vh;
}

section#header {
  background: #ffffff;
  color: #444444;
  min-height: 0px;
}

section#main-banner {
  background: #ffffff;
  color: #444444;
}

section#experience {
  background: #ffffff;
  color: #444444;
}

section#projects {
  background: #ffffff;
  color: #444444;
}

section#circus {
  background: #ffffff;
  color: #444444;
}

section#contact {
  background: #ffffff;
  color: #444444;
}

article {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
	#padding-top: 100px;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-size: 5em;
}

h2 {
  text-align: center;
  padding: 0px 0px 0px 0px;
  font-size: 3em;
}

p {
  font-size: 1.5em;
  text-align: center;
}

img {
	opacity: 0.7;
	transition: 0.3s;
}

img:hover {
	opacity: 1.0;
	transition: 0.3s;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}
